.modal-header{
  border-bottom: 0px solid #e5e5e5;
}
.close{
  font-size: 34px;
}
.logo-img{
  margin:17px 0px;
}

header{
  background-color: #fff;
    box-shadow: 1px 0px 8px #afafaf;
}

.header button{
  margin: 15px 0px;
    padding: 10px 25px;
    border-radius: 21px;
    color: #fff;
    border-color: #fff;
    background: -moz-linear-gradient(45deg, rgba(58,230,178,1) 0%, rgba(73,198,224,1) 31%, rgba(82,185,249,1) 49%, rgba(82,185,249,1) 72%, rgba(81,204,237,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(58,230,178,1)), color-stop(31%, rgba(73,198,224,1)), color-stop(49%, rgba(82,185,249,1)), color-stop(72%, rgba(82,185,249,1)), color-stop(100%, rgba(81,204,237,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(58,230,178,1) 0%, rgba(73,198,224,1) 31%, rgba(82,185,249,1) 49%, rgba(82,185,249,1) 72%, rgba(81,204,237,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(58,230,178,1) 0%, rgba(73,198,224,1) 31%, rgba(82,185,249,1) 49%, rgba(82,185,249,1) 72%, rgba(81,204,237,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(58,230,178,1) 0%, rgba(73,198,224,1) 31%, rgba(82,185,249,1) 49%, rgba(82,185,249,1) 72%, rgba(81,204,237,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(58,230,178,1) 0%, rgba(73,198,224,1) 31%, rgba(82,185,249,1) 49%, rgba(82,185,249,1) 72%, rgba(81,204,237,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51cced', endColorstr='#3ae6b2',GradientType=1 ); /* ie6-9 */
}

.header button:hover{
  color: #fff;
  border-color: #fff;
}

.bg-white{
  background-color: #fff;
}


#container {
  background: #fff;
  max-width: 845px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 50px rgba(0,0,0,.2);
  margin:130px auto;
  padding:0px;
  position: relative;
}

/* Slider Css::START */
.fram-box{
    min-height: 688px;
    white-space: nowrap;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;    
    background-color: #000000;
}
.fram-box img{
    max-width: 100%;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.helper {
    display: inline-block;
    vertical-align: middle;
}
.left-slider{
  position: relative;
}
#myCarousel{
    position: absolute;
    width: 100%;
    top: -20px;
}
.carousel-indicators li{
  border-color: #b9b9b9;
}
.left-slider .carousel-indicators{
  bottom: -54px;
}
.left-slider .carousel-control{
    top: auto;
    bottom: -44px;
    height: 40px;
    background: none;
}
.carousel-indicators .active{
  background-color: #2e8ae6;
  border-color: #2e8ae6;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    right: 30%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    left: 30%;
}
/* Slider Css::END*/

/* Right Side Section Css::START */
.right-side{
  padding: 15px 30px 0px;
    height: 47vh;
    min-height: 530px;
}
.slider-bottom-box{
  left: auto;
  right: auto;
  bottom: 0px;
  color: #fff;
    padding: 15px 10px;
  width: 100%;
  background-color: rgba(65, 65, 64, 0.85);
}
.slider-bottom-box p{
  color: #fff;
  text-align: left;
}
.right-side-bottom{
  text-align: center;
    padding: 70px 0 30px 0;
}
.right-side-bottom a{
  color: #626A73;
}
/* Right Side Section Css::END */

/* Profile Section Css:START */
.profile-sec{
    margin: 0 0 10px 0;
}
.profile-sec .comment{
    border: 0px;
    width: 100%;  
}
.profile-sec h2{
  margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.dotts{
    position: absolute;
    right: 10px;
    top: 24px;
    cursor: pointer;
}
.dot {
  height: 7px;
  width: 7px;
  background-color: #a0a0a0;
  border-radius: 50%;
  display: inline-block;
}
/* Profile Section Css:END */

/* comment-like Css::START */
.comment-like {
    border-bottom: 0px solid #ddd;
    width: 100%;
}
.comment-like p{
  padding: 10px 0px;
    font-weight: 600;
    color: #000;
}
.comment-like.nav-tabs>li {
    float: left;
    margin-bottom: 0;
    width: 50%;
    text-align: center;
      border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
}
.comment-like.nav-tabs>li>a {
    margin-right: 0;
    border-radius:0;
    border: 0px solid transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border: 0px !important;
  background-color: #eee;
}
/* comment-like Css::END */
.comment-section{
    overflow-y: auto;
    max-height: 390px;
    margin-top: 5px;
}
h3 {
  font-size: .9em;
  text-align: center;
  margin: 0;
}

#close {
  width: 14px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.comment {
  margin-top: 0px;
  padding: 10px;
  display: inline-block;
  border-bottom: 1px solid #c2c2c2;
  position: relative;
  width: 100%;
}

.photo { 
  height: 60px;
  border-radius: 100%;
  float: left;
  margin-right: 20px;
}

.comment-text {
  width: 72%;
  float: left;
}

.name {
  margin: 0; 
  font-size: .9em;
  color: #2C3137;
  font-weight: 600;
}
 
.time {
  margin: 0;
 
  font-size: .8em;
  color: #a0a0a0;
  padding-left: 0px;
  font-weight: 400;
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Location_dot_grey.svg/500px-Location_dot_grey.svg.png"); */
  background-repeat: no-repeat;
  background-size: 4px;
  background-position: top 8px left 5px;
}

p {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-size: .9em;
  color: #626A73;
}

/* To clear the div Clearfix, I am using the nth child from 2nd div onwards. */
.comment:nth-child(n+2):after {
  display: block;
  content: " ";
  clear: both;
  }

/*.comment:hover {
  background: #eaeaea;
  border-radius: 5px;
}*/

.comments-count{
  font-size: 12px;
}
/* Footer Css::START */
footer{
  bottom: 0px;
  width: 100%;
  background: -moz-linear-gradient(45deg, rgba(58,230,178,1) 0%, rgba(73,198,224,1) 31%, rgba(82,185,249,1) 49%, rgba(82,185,249,1) 72%, rgba(81,204,237,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(58,230,178,1)), color-stop(31%, rgba(73,198,224,1)), color-stop(49%, rgba(82,185,249,1)), color-stop(72%, rgba(82,185,249,1)), color-stop(100%, rgba(81,204,237,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(58,230,178,1) 0%, rgba(73,198,224,1) 31%, rgba(82,185,249,1) 49%, rgba(82,185,249,1) 72%, rgba(81,204,237,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(58,230,178,1) 0%, rgba(73,198,224,1) 31%, rgba(82,185,249,1) 49%, rgba(82,185,249,1) 72%, rgba(81,204,237,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(58,230,178,1) 0%, rgba(73,198,224,1) 31%, rgba(82,185,249,1) 49%, rgba(82,185,249,1) 72%, rgba(81,204,237,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(58,230,178,1) 0%, rgba(73,198,224,1) 31%, rgba(82,185,249,1) 49%, rgba(82,185,249,1) 72%, rgba(81,204,237,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51cced', endColorstr='#3ae6b2',GradientType=1 ); /* ie6-9 */
}
.footer p {
    color: #fff;
    padding: 30px 0 0 0;
    margin: 0;
}
.btn-align-right{
  text-align: right;
}
.footer button{
  margin: 15px 0px;
  padding: 10px 25px;
  border-radius: 21px;
  background-color: #fff;
  color: #00b4ff;
  background-color: #fff;
  border-color: #fff;
}
.footer button:hover{
  background-color: #fff;
  border-color: #fff; 
  color: #00b4ff;
}
.app-store {
  padding: 28px;
  text-align: center;
}
.google-play {
  width: 240px;
}
.ios-store {
  width: 200px;
}
.modal-body {
  padding-left: 60px;
  padding-top: 18px;
}
.modal {
  top: 12% !important;
}
/*Media CSS*/
@media (max-width: 414px){
  .right-side{
    padding: 15px 10px 0px;
  }
  .comment{
    padding: 0 0 0px 70px;
    text-align: center;
  }
  .photo {
      height: 60px;
      border-radius: 100%;
       float: none; 
      margin-right: 20px;
      max-width: 60px;
      display: inline-block;
  }
  .comment-text{
    float: none;
    width: 70%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
  }
}
/*Media CSS*/